<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.localoeste.hungry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/icone_hungry"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_hungry"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hungry">
        <activity android:name=".activy.PaymentActivity"></activity>
        <activity android:name=".activy.CheckoutActivityJava"></activity>
        <activity
            android:name=".activy.PedidosActivity"
            android:parentActivityName=".activy.EmpresaActivity" />
        <activity
            android:name=".activy.ComprasActivity"
            android:parentActivityName=".activy.CarrinhoActivity" />
        <activity
            android:name=".activy.CarrinhoActivity"
            android:parentActivityName=".activy.CardapioActivity" />
        <activity
            android:name=".activy.DescricaoProdutoActivity"
            android:parentActivityName=".activy.CardapioActivity" />
        <activity
            android:name=".activy.CardapioActivity"
            android:parentActivityName=".activy.HomeActivity" />
        <activity
            android:name=".activy.ConfiguracoesUsuarioActivity"
            android:parentActivityName=".activy.HomeActivity" />
        <activity
            android:name=".activy.NovoProdutoEmpresaActivity"
            android:parentActivityName=".activy.EmpresaActivity" />
        <activity
            android:name=".activy.ConfiguracaoEmpresaActivity"
            android:parentActivityName=".activy.EmpresaActivity" />
        <activity
            android:name=".activy.CadastroEmpresaActivity"
            android:label="@string/title_activity_cadastro_empresa"
            android:theme="@style/Theme.Hungry.NoActionBar" />
        <activity android:name=".activy.CadastroUsuarioActivity" />
        <activity android:name=".activy.EmpresaActivity" />
        <activity android:name=".activy.HomeActivity" />
        <activity android:name=".activy.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activy.AutenticacaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>